*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}


/* HEADER  */
header {
    position: absolute;
    width: 100%;
    left: 0;
    height: 0;
    z-index: 2;
}

header .navbar .navbar-brand i {
    color: #35a22c;
    font-size: 45px;
}

header .navbar .navbar-brand span {
    font-size: 35px;
}




@media (min-width: 992px) {
    header .navbar-dark .navbar-nav .nav-link {
        color: #ffffff;
        transition: all .3s;
        position: relative;
    }
    
    header .navbar .navbar-brand img {
        width: 20px;
        height: 20px;
    }

    header .navbar-nav .nav-item {
        position: relative;
        margin-right: 20px;
    }
    
    header .navbar-dark .navbar-nav .nav-link:hover, header .navbar-dark .navbar-nav .active .nav-link  {
        color: #35a22c;
    }
    
    
    header .navbar-dark .navbar-nav .nav-link::before {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background: #35a22c;
        transition: all .5s;
    }
    
    header .navbar-dark .navbar-nav .nav-link:hover::before , header .navbar-dark .navbar-nav .active .nav-link::before {
        width: 100%;
    }
}

@media (max-width:992px) {
    header .navbar-dark .navbar-nav .nav-link , header .navbar-dark .navbar-nav .active .nav-link {
        color: #35a22c;
        transition: all .5s;
        position: relative;
    }

    header .navbar-nav .nav-item {
        position: relative;
        margin-right: 0px;
    }

    header .navbar-dark .navbar-nav .nav-link:hover{
        color: #ffffff;
    }

    #navbarSupportedContent {
        background-color: #ffffff;
        padding: 5px;
    }

    .over_lay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        transition: .1s;
    }

    header .navbar-nav .nav-item:hover .over_lay {
        background-color: #35a22c;
    }

    header .container {
        max-width: 100%;
        margin: none;
    }

    header .navbar  .navbar-toggler {
        background-color: #35a22c;
    }
    

}




/* CAROUSEL  */

#carousel {
    position: relative;
}

#carousel .overlay {
    background: rgba(39,43,54,.5);

}

#carousel .carousel-item {
    height: 100vh;
}

#carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carousel .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

#carousel .carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#carousel .carousel-item .carousel-caption h1 {
    font-size: 50px;
}

#carousel .carousel-item .carousel-caption p {
    font-size: 20px;
}

/* PROJECTS  */

.heading {
    max-width: 768px;
}

#projects .nav-pills .nav-link {
    border: 1px solid #1a1d2a;
    color: #1a1d2a;
}

#projects .nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #35a22c;
    border-color: #35a22c;
}

#projects .card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;

}

#projects .card-body {
    border-color: 1px solid transparent;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

#projects .card:hover .card-body {
    border: 1px solid #35a22c;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

#projects .card:hover .card-body h5 {
    color: #35a22c;
}

/* JOBS  */

#jobs {
    background-image:url("./image/3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding: 100px 0px;
}

#jobs .overlay {
    background: rgba(7,10,12,.72);
}



#jobs .heading {
    position: relative;
    
}

#jobs .heading h2 {
    font-weight: bold;
}


#jobs .jobs__item .item__container {
    background-color: rgb(255, 255, 255 , 0.1);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255 , 0.1);
    padding: 30px 40px;
    backdrop-filter: blur(3px);
    transition: .5s;
}



#jobs .jobs__item .item__container:hover {
    background-color: rgb(0, 0, 0);
    border-color: #ffffff;
}

#jobs .jobs__item .item__container i {
    color: #35a22c;
    font-size: 40px;
}

/* AWARD  */

#award {
    padding: 70px 0px;
    position: relative;
}

#award .award-bg {
    background-image: url("./image/memphis_3.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: bottom left;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#award .col-5__container {
    background-color: rgb(255, 255, 255 , .3);
    padding: 50px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

#award .col-5__container h2 {
    font-size: 38px;
    font-weight: bold;
}

#award .col-7__container .award__list {
    display: flex;
    justify-content: space-between;
}

#award .col-7__container .award__list img {
    width: 15%;
}

/* FOOTER  */

#footer {
    background-color: #222222;

}

#footer .footer__container {
    border-bottom: 1px solid rgb(255, 255, 255, .1);
}

#footer .list__icon {
    display: flex;
    justify-content: center;
}

#footer .list__icon .item {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255 , .5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s;

}

#footer .list__icon .item i {
    color: rgb(255, 255, 255 , .5);
}

#footer .list__icon .item:hover {
    border-color: #35a22c;
}

#footer .list__icon .item:hover i {
    color: #35a22c;
}

#footer p {
    color: rgb(255, 255, 255, .5);
}

